 {% load staticfiles %}
<html>
    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/register.css' %}">
        <title>Users</title>
    </head>
    <body>

        <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
			       
			        <div class="page-header">
			        <p>	
			        	<a href="{% url 'user_new' %}" class="btn btn-default" ><span class="glyphicon glyphicon-plus"></span> Sign Up</a>
			        	<a href="{% url 'user_login' %}" class="btn btn-default" ><span class="glyphicon glyphicon-user"></span> Log In</a></p>
			            <h1><a href="{% url 'user_list' %}">Users</a></h1>
			        </div>
                {% block content %}
                {% endblock %}

				</div>
			</div>
		</div>
    </body>
</html>