<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


{% block content %}

{% for form in forms %}

<div class="container">
  <h2>User Register</h2>
   <form method="post" class="post-form">
   {% csrf_token %}
    <div class="form-group">
      <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" value="{{ form.first_name }}">
      <br>
      <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" value="{{ form.last_name }}">
      <br>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" value="{{ form.email }}">
      <br>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="{{ form.password }}">
      <br>
      <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password">
      <br>
      <input type="submit" id="submit" class="save btn btn-default" value="Sign Up">
    </div>
  </form>
</div>

{% endfor %}

{% endblock %}



</body>
</html>

</html> 