<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% block content %}
    {% for user in users %}
        <div>
            <p>published: {{ user.first_name }}</p>
            <h1><a href="{% url 'signup.views.user_detail' pk=user.pk %}">{{ user.last_name }}</a></h1>
            <p>{{ user.email|linebreaksbr }}</p>
        </div>
        {% endfor %}
    {% endblock content %}
</body>
</html>

</html> 